@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: UbuntuMonoRegular;
    src: url('./fonts/UbuntuMono-Regular.ttf');
    display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-color: #10f871;
    --font-color-a20: #10f87120;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

*{
    box-sizing: border-box;
}

body {
    /* color: var(--foreground);
    background: var(--background); */
    background: black;
    font-family: UbuntuMonoRegular, Arial, Helvetica, sans-serif;
    color: var(--font-color);
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #10f87155;
}
::-webkit-scrollbar-thumb:hover{
    background: #10f871ee;
}