@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: UbuntuMonoRegular;
    src: url('./fonts/UbuntuMono-Regular.ttf');
    display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

*{
    box-sizing: border-box;
}

body {
    /* color: var(--foreground);
    background: var(--background); */
    background: black;
    font-family: UbuntuMonoRegular, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
